framework: net462
source https://www.nuget.org/api/v2
nuget commandlineparser
nuget evolve
nuget fluentassertions
nuget fluentnhibernate
nuget log4net
nuget Microsoft.AspNet.WebApi
nuget Microsoft.CodeDom.Providers.DotNetcompilerPlatform
nuget nservicebus
nuget nservicebus.log4net
nuget nservicebus.persistence.sql
nuget nservicebus.sqlserver
nuget nservicebus.structuremap
nuget nservicebus.testing
nuget nunit
nuget topshelf
nuget TopShelf.Log4Net