<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ISO8601} %-5level %logger  -  %message%newline" />
        </layout>
      </appender>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="shipmenttracking.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ISO8601} %-5level %logger  -  %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender" />
      </root>
    </log4net>
    <connectionStrings>
      <add name="ShipmentTracking" connectionString="Server=localhost;Database=ShipmentTracking;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="EndpointName" value="ShipmentTracking" />
      <add key="ErrorQueue" value="error" />
      <add key="AuditQueue" value="audit" />
      <add key="AuditOverrideTimeToBeReceivedSeconds" value="86399" />
      <add key="ImmediateRetries" value="1" />
      <add key="DelayedRetriesEnabled" value="false" />
      <add key="DelayedRetries" value="0" />
      <add key="DelayedRetriesTimeIncreaseSeconds" value="0" />
      <add key="Concurrency" value="1" />
      <add key="CacheSubscriptionsForMinutes" value="1" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>