<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ShipmentTracking" connectionString="Server=localhost;Database=ShipmentTracking.Tests;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EndpointName" value="ShipmentTracking" />
    <add key="ErrorQueue" value="error" />
    <add key="AuditQueue" value="audit" />
    <add key="AuditOverrideTimeToBeReceivedSeconds" value="86399" />
    <add key="ImmediateRetries" value="1" />
    <add key="DelayedRetriesEnabled" value="false" />
    <add key="DelayedRetries" value="0" />
    <add key="DelayedRetriesTimeIncreaseSeconds" value="0" />
    <add key="Concurrency" value="1" />
    <add key="CacheSubscriptionsForMinutes" value="1" />
    
  </appSettings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Remotion.Linq" culture="neutral" publicKeyToken="fee00910d6e5f53b" />
      <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
    </dependentAssembly>
  </assemblyBinding>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Remotion.Linq.EagerFetching" culture="neutral" publicKeyToken="fee00910d6e5f53b" />
      <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</configuration>